* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: OCR A Std, monospace;
}

body {
    /* background-image: linear-gradient(to right, white , black); */
    background: rgba(214, 50, 50, 0.685);

}


#box-pagina-inicial {
    padding: 40px;
}

#container {
    display: flex;
}

#container main {
    width: 70%;
}

#container aside {
    width: 30%;
    margin-left: 50px;
}