header h1 {
    margin-bottom: 20px;
    
}

#c-titulo-temas {
    display: flex;
    justify-content: space-between;
}

#c-temas p {
    color: white;
}

#c-temas > * {
    display: inline-block;
    margin-left: 10px;
}

#c-temas > button {
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s all;
}
#c-temas > button:hover {
    box-shadow: 0 12px 12px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(252, 252, 252, 0.19);
}

#c-tema-branco {
    background: white;
    
}

#c-tema-rosa {
    background:rgb(226, 154, 166);
}

#c-tema-roxo {
    background: rgb(172, 132, 172);
}

#c-tema-azul {
    background: rgb(134, 164, 218);
}
