#busca {
    background: rgb(250, 250, 157);
    padding: 20px;
    border-radius: 5px;
}

#b-campo-busca {
    padding: 5px 15px;
    width: 165px;
}

#b-btn-busca  {
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

#b-btn-busca img {
    width: 10px;
}